.App {
  background-image: url(../public/weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: centre;
}

.App {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.App ul {
  line-height: 2;
  list-style: none;
}
