.Footer {
  background-color: #d5def5;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.Footer p {
  color: #430f58;
  font-family: "Lora", serif;
  margin: 0;
}

.Footer a {
  color: #6643b5;
}
