.Header {
  background-color: #8594e4;
  border-radius: 20px;
  margin: 50px auto;
  max-width: 60%;
  padding: 10px;
}

.Header h1,
h2 {
  color: #430f58;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}

.Header h1 {
  font-size: 50px;
}

.Header h2 {
  font-size: 30px;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .Header {
    margin: 30px auto;
    max-width: 100%;
    padding: 20px;
  }
}
